 # Functions

In [2]:
from warnings import filterwarnings
filterwarnings("ignore")

## Bulit in functions

In [3]:
print("Hello World")

Hello World

In [4]:
print("3*5")

3*5

In [5]:
a = [1,23,4,56,7,8]
len(a)

6

In [6]:
sum(a)

99

In [7]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

# User defined function

In [8]:
def add(x,y):
    c = x + y
    return(c)

In [9]:
add(23,34)

57

# Varidac functions
 1. func(*args)
 2. *args act like tuple in python

In [10]:
def func(*args):
    print(args,type(args))
    for i in args:
        print(i)
    return args

In [11]:
func(2,3)

(2, 3) <class 'tuple'>
2
3

(2, 3)

In [12]:
func(2,3,4,5)

(2, 3, 4, 5) <class 'tuple'>
2
3
4
5

(2, 3, 4, 5)

# Write a function to add any amount of numbers

In [13]:
def add_multiple(*args):
    s = 0
    for i in args:
        s = s + i
    return s

In [14]:
add_multiple(23,4,5,6,7)

45

In [15]:
add_multiple(5,56,21,58,4,9,)

153

In [16]:
range(1,101)

range(1, 101)

In [17]:
c = list(range(1,101))
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [18]:
add_multiple(*c)

5050

# Billing Example

In [19]:
cart1 = [
    ("Laptop", 54000, 2),
    ("Headphone" , 1500, 4),
    ("Mouse", 500, 2),
    ("Keyboard", 1200 , 1)
]

In [20]:
def billing(*args):
    total = 0
    for product,price,qty in args:
        item_total = price * qty
        total  = total + item_total
        print(f"Product : {product},Price : {price}, Qty : {qty}")
        print(f"Item Total :{item_total}")
        print("\n=============================================")
    print(f"Final Total :{total:.2f}")
    return total

In [21]:
cart1

[('Laptop', 54000, 2),
 ('Headphone', 1500, 4),
 ('Mouse', 500, 2),
 ('Keyboard', 1200, 1)]

In [22]:
billing(*cart1)

Product : Laptop,Price : 54000, Qty : 2
Item Total :108000

=============================================
Product : Headphone,Price : 1500, Qty : 4
Item Total :6000

=============================================
Product : Mouse,Price : 500, Qty : 2
Item Total :1000

=============================================
Product : Keyboard,Price : 1200, Qty : 1
Item Total :1200

=============================================
Final Total :116200.00

116200

# Keyword Arguments in python
** kwargs - This will act like a dictionary in python

In [23]:
d = {
    "a" : 1,
    "b" : 2,
    "c" : 3,
    "d" : 4
}

In [24]:
type(d)

dict

In [25]:
d["a"]

1

In [26]:
d["d"]

4

In [27]:
d["c"]

3

In [29]:
d.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [33]:
for key,value in d.items():
    print(f"{key} : {value}")

a : 1
b : 2
c : 3
d : 4

In [35]:
def fun2(**kwargs):
    print(kwargs, type(kwargs))

    for key,value in kwargs.items():
        print(f"{key} : {value}")
        
    return kwargs

In [37]:
fun2(name = "Gaurav", age = 34)

{'name': 'Gaurav', 'age': 34} <class 'dict'>
name : Gaurav
age : 34

{'name': 'Gaurav', 'age': 34}

# Practical example of kwargs

In [42]:
def create_user(**kwargs):

    if "username" not in kwargs:
        raise ValueError("username should be availabe")
    profile = {
        "username" : kwargs["username"],
        "Full Name" : kwargs.get("full_name", "N/A"),
        "Email" : kwargs.get("email", "N/A"),
        "Location" : kwargs.get("location", "N/A")
                }
    return profile

In [43]:
create_user(
    username = "Gaurav",
    full_name =  "Gaurav Patil",
    location = "Pune"
)

{'username': 'Gaurav',
 'Full Name': 'Gaurav Patil',
 'Email': 'N/A',
 'Location': 'Pune'}